<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>Air Graffiti</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link rel="shortcut icon" href="./imgs/icon.png" type="image/png"/>
<link rel="icon" href="./imgs/icon.png" type="image/png"/>
<link rel="apple-touch-icon" href="./imgs/icon.png"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="Air Graffiti"/>

<!-- // OGP tags -->
<meta property="og:title" content="Air Graffiti"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="//dotnsf.github.io/air_graffiti/"/>
<meta property="og:image" content="//dotnsf.github.io/air_graffiti/imgs/icon.png"/>
<meta property="og:site_name" content="Air Graffiti"/>
<meta property="og:description" content="Air Graffiti"/>
<!-- OGP tags // -->

<!-- // Twitter Card -->
<meta property="twitter:card" content="summary"/>
<meta property="twitter:site" content="@dotnsf"/>
<meta property="twitter:creator" content="@dotnsf"/>
<meta property="twitter:url" content="//dotnsf.github.io/air_graffiti/"/>
<meta property="twitter:image" content="//dotnsf.github.io/air_graffiti/imgs/icon.png"/>
<meta property="twitter:title" content="Air Graffiti"/>
<meta property="twitter:description" content="Air Graffiti"/>
<!-- Twitter Card // -->

<script src="./common.js"></script>
<link href="./common.css" rel="stylesheet"/>
<script>
$(function(){
  if( window.DeviceOrientationEvent ){
    if( DeviceOrientationEvent.requestPermission && typeof DeviceOrientationEvent.requestPermission === 'function' ){
      $('#cdiv').css( 'display', 'none' );
      var banner = '<div id="sensorrequest" onclick="ClickRequestDeviceSensorForTraining();" style="z-index:1; position:absolute; width:100%; background-color:#000; color:#fff;><p style="padding:10px;">センサーの有効化</p></div>';
      $('body').prepend( banner );
    }else{
      window.addEventListener( "deviceorientation", deviceOrientation );
    }
  }

  if( window.TouchEvent ){
    var canvas = document.getElementById( 'touchcanvas' );
    canvas.addEventListener( "touchstart", touchStart );
    canvas.addEventListener( "touchend", touchEndForTraining );
  }
});
</script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AG</a>
  <button class="nabvar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="nabvar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="./">Q</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">T</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div id="cdiv">
    <canvas width="80%" height="50%" id="mycanvas"></canvas>
    <canvas id="touchcanvas" style="position:relative; width:80%; height: 20%;"></canvas>
  </div>
</div>

</body>
</html>
